<!-- Header -->
<header class="header">
    <a class="header__logo d-none d-sm-block" href="/">
        <img class="header-logo__image" src="../../static/images/logo.svg" alt="Imagen Logo header">
    </a>
    <a href="https://www.infomatica.pe" class="header__logo--responsive d-sm-none">
        <img class="header-logo__image-responsive" src="../../static/images/logo-responsive.png" alt="Imagen Logo Responsive">
    </a>
    <a href="cart">
            <button class="btn btn-primary bg-button cart mr-2"><i class="fas fa-shopping-cart mr-1"></i><span class="mx-3">0</span></button>
    </a>

</header>
<!-- Header -->